<section *ngIf="playlistData" class="bannerTitleSection">
  <div class="containerFluid">
    <div class="topContent">
      <div class="picWrapper">
        <img
          class="pic"
          *ngIf="
            playlistData && playlistData.images && playlistData.images.length
          "
          src="{{ playlistData.images[0].url }}"
          alt=""
        />
      </div>
      <div class="contentWrapper">
        <span class="contentType">{{ playlistData.type }}</span>
        <h1 class="maintitle">
          {{ playlistData.name }}
        </h1>
        <div class="description">{{ playlistData.description }}</div>
        <div class="details">
          <a
            class="link"
            *ngIf="
              playlistData &&
              playlistData.artists &&
              playlistData.artists.length
            "
            href="{{ playlistData.artists[0].href }}"
          >
            {{ playlistData.artists[0].name }}
          </a>
          <span class="likes dot">
            {{ playlistData.total_tracks }} Songs,
          </span>
          <span class="totalAndTime dot">
            {{ durationHr }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="playlistDataTracks" class="mainSection">
  <div class="containerFluid">
    <div class="playlistActions">
      <div class="playBtnContainer actionBtn">
        <button class="playBtnContainer__playBtn">
          <span class="triangle"></span>
        </button>
      </div>
      <div class="likeContainer actionBtn">
        <button
          class="likeContainer__btn"
          (click)="likeTracks(playlistData.id)"
        >
          <app-svg [svgName]="'likeBtn'"></app-svg>
        </button>
      </div>
      <div class="shareContainer actionBtn">
        <button class="shareContainer__btn">
          <app-svg [svgName]="'shareBtn'"></app-svg>
        </button>
      </div>
    </div>
    <!-- <ul class="tracksList">
      <li
        class="tracksList__item"
        *ngFor="let track of playlistDataTracks; index as i"
      >
        <div class="tracksList__link" (click)="goToPlaylist(track.id)">
          <div class="playBtnContainer">
            <button class="tracksList__playBtn">
              <span class="triangle"></span>
            </button>
          </div>

          <div class="tracksList__content">
            <h3 class="tracksList__topic">{{ track.name }}</h3>
            <a [routerLink]="['/']" class="tracksList__description">
                
                {{ track?.artists[0]?.name }}
            </a>
          </div>
        </div>
      </li>
    </ul> -->

    <table mat-table [dataSource]="playlistDataTracks" class="tracksTable">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let song; let i = index">
          <div class="numberWrapper">
            <span class="text number">
              {{ i + 1 }}
            </span>
            <button class="playSong">
              <span class="triangle"></span>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>TITLE</th>
        <td mat-cell *matCellDef="let song">
          <div class="titleWrapper">
            <div class="innerText">
              <div class="songName text">{{ song.name }}</div>
              <a [routerLink]="['/']" class="artist text">
                {{ song?.artists[0]?.name }}
              </a>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>
          <app-svg [svgName]="'duration'"></app-svg>
        </th>
        <td mat-cell *matCellDef="let song">
          <div class="columnWrapper">
            <button class="trackLike" (click)="likeTrack(playlistData.id)">
              <app-svg [svgName]="'likeBtn'"></app-svg>
            </button>
            <span class="text">{{ song.duration_Time }} </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
