<section class="headerSection">
    <div class="containerFluid">
        <div class="leftBlock">
            <div class="btnActions">
                <a [routerLink]="" class="btnActions__actionBtn prev"></a>
                <a [routerLink]="" class="btnActions__actionBtn next"></a>
            </div>
        </div>
        <div class="rightBlock">
            <div class="loginActions">
                <a [routerLink]="" class="loginActions__link signUp">SIGN UP</a>
                <a [routerLink]="" class="loginActions__link login">LOG IN</a>
            </div>
        </div>
    </div>
</section>