<section class="navbarSection">
  <div class="logoContainer">
    <div class="logo">
      <a href="#" class="logo__link">
        <app-svg [svgName]="'logo'"></app-svg>
      </a>
    </div>
  </div>
  <div class="contentContainer">
    <ul class="navList">
      <li class="navList__item">
        <a [routerLink]="['/home']" class="navList__link">
          <app-svg [svgName]="'home'"></app-svg>
          <span class="navList__text"> Home </span>
        </a>
      </li>
      <li class="navList__item">
        <a [routerLink]="['/search']" class="navList__link">
          <app-svg [svgName]="'search'"></app-svg>
          <span class="navList__text"> Search </span>
        </a>
      </li>
      <li class="navList__item">
        <a [routerLink]="['/yourLibrary']" class="navList__link">
          <app-svg [svgName]="'library'"></app-svg>
          <span class="navList__text"> Your Library </span>
        </a>
      </li>
    </ul>
    <div class="sideNavPlaylist">
      <div class="title">PLAYLIST</div>
      <ul class="playlistActions">
        <li class="playlistActions__item">
          <a href="" class="playlistActions__link createPlaylist">
            <div class="playlistActions__iconContainer">
              <app-svg [svgName]="'plus'"></app-svg>
          
            </div>
            <span class="playlistActions__text"> Create Playlist </span>
          </a>
        </li>
        <li class="playlistActions__item">
          <a href="" class="playlistActions__link likedSongs">
              <div class="playlistActions__iconContainer">
                <app-svg [svgName]="'heart'"></app-svg>
          
        </div>
            <span class="playlistActions__text"> Liked Songs </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottomSidenav">
        <ul class="bottomSidenavList">
            <li class="bottomSidenavList__item"><a href="#" class="bottomSidenavList__link">
                Cookies
            </a></li>
            <li class="bottomSidenavList__item"><a href="#" class="bottomSidenavList__link">
                Privacy
            </a></li>
        </ul>
    </div>
  </div>
</section>
