@import "../../../../assets/styles/variables.scss";

:host {
  width: 230px;
  height: 100%;
  flex-shrink: 0;
}

.navbarSection {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 230px;
  background-color: $colorBlack;

  .contentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 8px;
  }
}

.logo {
  padding: 24px;
  flex-shrink: 0;

  &__link {
    display: block;
  }

  &__icon {
    max-width: 130px;
  }
}

.navList {
  &__link {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px 16px;

    &.active {
      background-color: $lightBlack;

      ::ng-deep {
        .navList__icon {
          path {
            fill: $colorWhite;
          }
        }
      }

      .navList__text {
        color: $colorWhite;
      }
    }

    &:hover {
      ::ng-deep {
        .navList__icon {
          path {
            fill: $colorWhite;
            @include transitionMove();
          }
        }
      }

      .navList__text {
        color: $colorWhite;
        @include transitionMove();
      }
    }
  }

  ::ng-deep {
    .navList__icon {
      max-width: 24px;

      path {
        fill: $colorGrayWhite;
        @include transitionMove();
      }
    }
  }

  &__text {
    font-size: 14rem;
    color: $colorGrayWhite;
    margin-left: 15px;
    font-family: $fontBold;
    @include transitionMove();
  }
}

.sideNavPlaylist {
  padding: 20px 16px;

  .title {
    font-size: 14rem;
    color: $colorGrayWhite;
    font-family: $fontBold;
    margin-bottom: 15px;
  }
}

.playlistActions {
  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    border-radius: 4px;

    &:hover {
      .playlistActions__text {
        color: $colorWhite;
        @include transitionMove();
      }
    }

    &.createPlaylist {
      .playlistActions__iconContainer {
        background-color: $colorGrayWhite;
      }

      &:hover {
        .playlistActions__iconContainer {
          background-color: $colorWhite;
        }
      }
    }

    &.likedSongs {
      .playlistActions__iconContainer {
        background: linear-gradient(
          135deg,
          rgb(69, 10, 245),
          rgb(196, 239, 217)
        );
        opacity: 0.5;
      }

      &:hover {
        .playlistActions__iconContainer {
          opacity: 1;
        }
      }
    }
  }

  &__iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    @include transitionMove();
  }

  .likedSongs {
    ::ng-deep {
      path {
        fill: $colorWhite;
        @include transitionMove();
      }
    }
  }

  .createPlaylist {
    ::ng-deep {
      path {
        fill: $colorBlack;
        @include transitionMove();
      }
    }
  }

  ::ng-deep {
    .playlistActions__icon {
      max-width: 24px;
      width: 100%;
    }
  }

  &__text {
    font-size: 14rem;
    color: $colorGrayWhite;
    margin-left: 15px;
    font-family: $fontBold;
    @include transitionMove();
  }
}

.bottomSidenav {
  margin: auto 0 0;
  padding: 0 16px 24px;
}

.bottomSidenavList {
  &__item {
    margin: 10px 0;
  }

  &__link {
    display: inline-block;
    position: relative;
    color: $colorWhite;
    font-size: 10rem;

    &::after {
      position: absolute;
      content: "";
      background-color: $colorWhite;
      height: 1px;
      left: 50%;
      right: 50%;
      bottom: 0;
      @include transitionMove();
    }

    &:hover {
      &::after {
        right: 0;
        left: 0;
        @include transitionMove();
      }
    }
  }
}
