@import './variables.scss';

body {
  background-color: $mainBgBlack;

    * {
        font-family: $fontRegular;
    }
}


.mainSection {
    .containerFluid {
      padding: 16px;
      margin: 0 auto;
    }
  
    .title {
      font-size: 24rem;
      font-family: $fontBold;
      color: $colorWhite;
      margin: 16px 0;
    }
  }