@import "../../../../../../assets/styles/variables.scss";

:host {
  flex: 1;

  .titleLink {
    position: relative;
    color: $colorWhite;
    display: inline-block;
    z-index: 7;

    &::after {
      position: absolute;
      content: "";
      background-color: $colorWhite;
      height: 1px;
      left: 50%;
      right: 50%;
      bottom: 0;
      @include transitionMove();
    }

    &:hover {
      &::after {
        right: 0;
        left: 0;
        @include transitionMove();
      }
    }
  }

  .mainSection {
    position: relative;
    margin-top: -150px;
    z-index: 7;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.3;
      z-index: -1;
      background-image: linear-gradient(to top, $mainBgBlack, $lightBlack);
      height: 100%;
    }
  }
}

.bannerTitleSection {
  position: relative;
  background: rgba(80, 155, 245, 0.5);

  &::after {
    position: absolute;
    content: "";
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
  }

  .containerFluid {
    padding: 16px 32px;
  }

  .maintitle {
    font: 48rem $fontBold;
    color: $colorWhite;
    padding: 140px 0 180px;
    line-height: 1;
  }
}

.topContent {
  display: flex;
  align-items: flex-start;
  padding: 140px 0 180px;

  .picWrapper {
    max-width: 142px;
    max-height: 142px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);

    .pic {
      display: block;
      max-width: 100%;
    }
  }

  .maintitle {
    padding: 10px 0;
  }

  .contentWrapper {
    padding: 15px 20px;
  }

  .contentType {
    color: $colorWhite;
    font: 12rem $fontBold;
  }

  .description {
    font-size: 14rem;
    color: $colorGrayWhite;
  }

  .details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14rem;
    color: $colorWhite;
    margin-top: 10px;

    .link {
      position: relative;
      display: inline-block;
      color: $colorWhite;
      font-family: $fontBold;
      @include underlineAdd($colorWhite, 0);
    }

    .likes,
    .totalAndTime {
      display: inline-flex;
      align-items: center;
      color: $colorGrayWhite;
    }

    .dot {
      position: relative;
      margin-left: 5px;

      &::before {
        content: "•";
        font-size: 16rem;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

.tracksTable {
  background-color: transparent;

  .mat-row,
  .mat-header-row {
    display: grid;
    align-items: center;
    grid-gap: 16px;
    padding: 0 16px;
    grid-template-columns: [index] 24px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
        120px,
        1fr
      );
  }

  .mat-header-row {
    border-bottom: 1px solid $colorGrayWhite;
    margin-bottom: 10px;
  }

  .text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $colorGrayWhite;
    font-size: 14rem;
    @include transitionMove();

    .link {
      position: relative;
      color: $colorGrayWhite;

      &:hover {
        color: $colorWhite;
        text-decoration: underline;
      }
    }
  }

  .numberWrapper {
    position: relative;

    .playSong {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      background-color: transparent;
      border: none;
      @include transitionMove();

      .triangle {
        display: inline-block;
        border-top: 10px solid $colorWhite;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        transform: rotate(-90deg);
      }
    }
  }

  .number {
    text-align: center;
  }

  .songName {
    color: $colorWhite;
  }

  .mat-row {
    margin: 5px 0;
    border-radius: 5px;
    @include transitionMove();

    &:hover {
      background-color: rgba(179, 179, 179, 0.4);
      @include transitionMove();

      * {
        color: $colorWhite;
      }

      .playSong {
        opacity: 1;
        visibility: visible;
        @include transitionMove();
      }

      .number {
        opacity: 0;
      }
    }
  }

  .mat-cell,
  .mat-header-cell {
    padding: 0;
    border: none;
  }

  .mat-header-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $colorGrayWhite;
    font-size: 14rem;

    &:first-child {
      justify-content: center;
    }
  }

  .mat-cell {
    border: none;
  }

  .titleWrapper {
    display: flex;
    align-items: center;

    .pic {
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

.artistsList {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__item {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &::after {
      display: inline-block;
      content: ",";
      margin-right: 5px;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  &__link {
    position: relative;
    color: $colorGrayWhite;

    &:hover {
      color: $colorWhite;
      text-decoration: underline;
    }
  }
}

.playlistActions {
  display: flex;
  align-items: center;
  padding: 16px;

  .actionBtn {
    & + .actionBtn {
      margin-left: 20px;
    }
  }
}

.likeContainer {
  &__btn {
    background-color: transparent;
    border: none;

    &:hover {
      .likeContainer__icon {
        path {
          fill: $colorWhite;
          @include transitionMove();
        }
      }
    }
  }

  &__icon {
    path {
      fill: $colorGrayWhite;
      @include transitionMove();
    }
  }
}

.shareContainer {
  &__btn {
    background-color: transparent;
    border: none;

    &:hover {
      .shareContainer__icon {
        path {
          fill: $colorWhite;
          @include transitionMove();
        }
      }
    }
  }

  &__icon {
    path {
      fill: $colorGrayWhite;
      @include transitionMove();
    }
  }
}

@media (min-width: $screenSm) {
}

@media (min-width: $screenLg) {
}

@media (min-width: $screenXl) {
    .bannerTitleSection {
        .maintitle {
          font: 96rem $fontBold;
        }
      }

  .topContent {
    .picWrapper {
      max-width: 192px;
      max-height: 192px;
    }
  }
}

@media (min-width: $screenXXl) {
}
