<section *ngIf="playlistData" class="bannerTitleSection">
  <div class="containerFluid">
    <div class="topContent">
      <div class="picWrapper">
        <img
          class="pic"
          *ngIf="
            playlistData && playlistData.images && playlistData.images.length
          "
          src="{{ playlistData.images[0].url }}"
          alt=""
        />
      </div>
      <div class="contentWrapper">
        <span class="contentType">{{ playlistData.type }}</span>
        <h1 class="maintitle">
          {{ playlistData.name }}
        </h1>
        <div class="description">{{ playlistData.description }}</div>
        <div class="details">
          <a
            class="link"
            *ngIf="
              playlistData &&
              playlistData.owner &&
              playlistData.owner.external_urls
            "
            href="{{ playlistData.owner.external_urls.spotify }}"
          >
            {{ playlistData.owner.display_name }}
          </a>
          <span class="likes dot">
            {{ playlistData.followers.total.toLocaleString() }} likes
          </span>
          <span class="totalAndTime dot">
            {{ playlistData.tracks.total }} songs,
            {{ durationHr }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="playlistDataTracks" class="mainSection">
  <div class="containerFluid">
    <div class="playlistActions">
      <div class="playBtnContainer actionBtn">
        <button class="playBtnContainer__playBtn">
          <span class="triangle"></span>
        </button>
      </div>
      <div class="likeContainer actionBtn">
        <button class="likeContainer__btn" (click)="likeTracks(playlistData.id)">
          <svg
            role="img"
            height="32"
            width="32"
            viewBox="0 0 32 32"
            class="likeContainer__icon"
          >
            <path
              d="M27.672 5.573a7.904 7.904 0 00-10.697-.489c-.004.003-.425.35-.975.35-.564 0-.965-.341-.979-.354a7.904 7.904 0 00-10.693.493A7.896 7.896 0 002 11.192c0 2.123.827 4.118 2.301 5.59l9.266 10.848a3.196 3.196 0 004.866 0l9.239-10.819A7.892 7.892 0 0030 11.192a7.896 7.896 0 00-2.328-5.619zm-.734 10.56l-9.266 10.848c-.837.979-2.508.979-3.346 0L5.035 16.104A6.9 6.9 0 013 11.192 6.9 6.9 0 015.035 6.28a6.935 6.935 0 014.913-2.048 6.89 6.89 0 014.419 1.605A2.58 2.58 0 0016 6.434c.914 0 1.555-.53 1.619-.585a6.908 6.908 0 019.346.431C28.277 7.593 29 9.337 29 11.192s-.723 3.6-2.062 4.941z"
            ></path>
          </svg>
        </button>
      </div>
      <div class="shareContaine actionBtn">
        <button class="shareContainer__btn">
          <svg
            role="img"
            height="32"
            width="32"
            viewBox="0 0 32 32"
            class="shareContainer__icon"
          >
            <path
              d="M5.998 13.999A2 2 0 105.999 18 2 2 0 005.998 14zm10.001 0A2 2 0 1016 18 2 2 0 0016 14zm10.001 0A2 2 0 1026.001 18 2 2 0 0026 14z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <table mat-table [dataSource]="playlistDataTracks" class="tracksTable">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let song; let i = index">
          <div class="numberWrapper">
            <span class="text number">
              {{ i + 1 }}
            </span>
            <button class="playSong">
              <span class="triangle"></span>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>TITLE</th>
        <td mat-cell *matCellDef="let song">
          <div class="titleWrapper">
            <img
              class="pic"
              src="{{ song.track.album.images[2].url }}"
              alt=""
            />
            <div class="innerText">
              <div class="songName text">{{ song.track.name }}</div>
              <div class="artist text">
                <div class="artistsList">
                  <span
                    class="artistsList__item"
                    *ngFor="let artist of song.track.artists"
                  >
                    <a
                      class="artistsList__link"
                      [routerLink]="['/artist/' + artist.id]"
                      >{{ artist.name }}</a
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef>ALBUM</th>
        <td mat-cell *matCellDef="let song">
          <span class="text"
            ><a class="link" [routerLink]="['/album/' + song.track.album.id]">{{
              song.track.album.name
            }}</a></span
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="dateAdded">
        <th mat-header-cell *matHeaderCellDef>DATE ADDED</th>
        <td mat-cell *matCellDef="let song">
          <span class="text">{{ song.addedAt }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path
              d="M7.999 3H6.999V7V8H7.999H9.999V7H7.999V3ZM7.5 0C3.358 0 0 3.358 0 7.5C0 11.642 3.358 15 7.5 15C11.642 15 15 11.642 15 7.5C15 3.358 11.642 0 7.5 0ZM7.5 14C3.916 14 1 11.084 1 7.5C1 3.916 3.916 1 7.5 1C11.084 1 14 3.916 14 7.5C14 11.084 11.084 14 7.5 14Z"
              fill="currentColor"
            ></path>
          </svg>
        </th>
        <td mat-cell *matCellDef="let song">
          <span class="text">{{ song.track.duration_Time }} </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
